body {
}

.responsive {
    width: 100%;
    height: auto;
}

.navbar-light .navbar-nav .nav-link {
    padding-right: 40px;
    font-family: Arial;
    text-align: center;
    opacity: 1;
    color: #5d2d7c;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

    .navbar-light .navbar-nav .nav-link:hover {
        text-decoration: none;
        opacity: .9;
        color: #6ebd44;
    }

.navbar-light .navbar-brand {
    padding-left: 40px;
}

.text-block-1 {
    color: #6ebd44;
    font-family: Arial;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    text-transform:capitalize;
}

.text-block-2 {
    color: #5d2d7c;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    font-weight: 700;
}

.text-block-3 {
    padding-top: 25px;
    padding-bottom: 25px;
    color: #5d2d7c;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    font-weight: 700;
}

.text-block-4 {
    padding-top: 25px;
    padding-bottom: 25px;
    color: #5d2d7c;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    font-weight: 700;
}

.text-block-5 {
    padding-top: 25px;
    padding-bottom: 25px;
    color: #5d2d7c;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    font-weight: 700;
}

.row {
    padding-top: 25px;
    padding-bottom: 25px;
}

#copyright {
    background-color: #5d2d7c;
}

.text-block-30 {
    color: white;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    font-weight: 400;
}

.text-block-31 {
    color: white;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    font-weight: 400;
}
.text-block-7 {
    color: #6ebd44;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    font-weight: 700;
    padding-bottom: 25px;
}
.whatweoffer {
    border: double;
    border-width: thick;
    border-color: #6ebd44;
}
.whoweare {
    border: double;
    border-width: thick;
    border-color: #6ebd44;
}
.carousel-caption {
    padding-bottom: 55px;
    text-align: center;
    font-family: Arial;
    color: white;
    opacity: 1;
    font-weight: 700;
}
.home {
    border: double;
    border-width: thick;
    border-color: #6ebd44;
}

.text-block-8 {
    text-align: center;
    color: white;
    font-family: Arial;
    font-size:35px;
    font-weight:700;
}
.award {
    background-color: #5d2d7c;
}